[Unit]
Description=My Prom Shell Script
After=multi-user.target

[Service]
Type=oneshot  
RemainAfterExit=yes
ExecStart=/home/ec2-user/prom/start-prom-app.sh

[Install]
WantedBy=multi-user.target
